<div class="row">

    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <strong>Execution overview</strong>

                <div class="pull-right" style="cursor: pointer;" title="Minimalize" data-toggle="collapse"
                     data-target="#testsTrendContainer"
                     class="accordion-toggle"><i class="fa container-collapse"></i></div>
            </header>
            <div class="panel-body in" id="testsTrendContainer">
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td class="col-md-4"><b>Status</b></td>
                                <td class="col-md-3"><b>Started</b></td>
                                <td class="col-md-3"><b>Finished</b></td>
                                <td class="col-md-2"><b>Duration</b></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <!--<span class="label label-danger" style="min-width: 200px !important;">Failed</span>-->
                                    <div class="progress xs progress-striped active" style="width: 95%; height: 20px;">
                                        <div class="progress-bar progress-bar-danger" style="width: 100%"><b>FAILED</b>
                                        </div>
                                    </div>
                                </td>
                                <td>2016-02-17 10:41:04</td>
                                <td>2016-02-17 10:56:23</td>
                                <td>0h 5m 19s 1ms</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="sm-st clearfix" style="cursor: pointer;" ng-click="selectStatus('All')">
                            <span class="sm-st-icon st-violet"><i class="fa fa-plus-circle"></i></span>

                            <div class="sm-st-info">
                                <span>{{execution.totalTests}}</span>
                                Total tests
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="sm-st clearfix" style="cursor: pointer;" ng-click="selectStatus('Success')">
                            <span class="sm-st-icon st-green"><i class="fa fa-check-circle"></i></span>

                            <div class="sm-st-info">
                                <span>{{execution.testsWithSuccess}}</span>
                                Passed
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="sm-st clearfix" style="cursor: pointer;" ng-click="selectStatus('Error')">
                            <span class="sm-st-icon st-violet" style="background-color: #b5302c;"><i class="fa fa-dot-circle-o"></i></span>

                            <div class="sm-st-info">
                                <span>{{execution.testsWithError}}</span>
                                Errors
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="sm-st clearfix" style="cursor: pointer;" ng-click="selectStatus('Failed')">
                            <span class="sm-st-icon st-red"><i class="fa fa-times-circle"></i></span>

                            <div class="sm-st-info">
                                <span>{{execution.failedTests}}</span>
                                Failed
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="sm-st clearfix" style="cursor: pointer;" ng-click="selectStatus('Skipped')">
                            <span class="sm-st-icon st-blue"><i class="fa fa-minus-circle"></i></span>

                            <div class="sm-st-info">
                                <span>{{execution.skippedTests}}</span>
                                Skipped
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                </div>

                <div class="row">
                    Number of classes     </br>
                    Number of tests     </br>
                    Number of steps     </br>
                    Number of exceptions </br>
                    list of all params </br>
                    environment </br>



                </div>

            </div>
        </section>
    </div>
</div>
