<div data-ng-controller="ExecutionDefectsCtrl">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <span class="label label-test-error">Error</span>
                <span style="font-weight: bold;">Defects / Execution #{{execution.id}}</span>
                <span style="float: right; font-weight: bold;">{{execution.startedAt}}</span>
            </header>
            <div class="panel-body">
                Not implemented yet
            </div>
        </section>
    </div>



</div>