<div ng-controller="PerformanceCtrl">
<div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading accordion-toggle" data-toggle="collapse"
                        data-target="#testsPerformanceContainer" style="cursor: pointer;">
                    <strong>Tests performance</strong>
                    <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
                </header>
                <div class="panel-body in" id="testsPerformanceContainer">
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <div class="row" style="margin-top: 7px;">
                                <b><center>Compare executions</center></b>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control revision-combobox" id="firstRevision"
                                            ng-model="selectedRevisions.first" ng-change="changedRevision()">
                                        <option ng-repeat="rev in revisions" value="{{rev}}">{{rev}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control revision-combobox" id="secondRevision"
                                            ng-model="selectedRevisions.second" ng-change="changedRevision()">
                                        <option ng-repeat="rev in revisions" value="{{rev}}">{{rev}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="alert alert-warning" ng-if="incorrectRevisions" style="margin-top: 20px;">
                        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong> Cannot compare execution {{selectedRevisions.first}} with {{selectedRevisions.second}}. The first execution must be greater than the second one.
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Test</th>
                                <th>Params</th>
                                <th>Current status ({{selectedRevisions.firstCorrect}})</th>
                                <th>Previous status ({{selectedRevisions.secondCorrect}})</th>
                                <th>Time difference</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="test in intersection">
                                <td><a ng-href="#/execution/{{selectedRevisions.firstCorrect}}/result?testname={{test.name}}&params={{stringify(test.params)}}">{{test.name}}</a></td>
                                <td>
                                    <div>
                                <span data-ng-repeat="(paramKey, paramValue) in test.params"
                                      class="label-test-param" style="background-color: white; margin-left: 5px;">{{paramKey}} : {{paramValue}}</span>
                                    </div>
                                </td>
                                <td>   <span class="label label-block"
                                             ng-class="{'label-test-success' : test.currentStatus === 'SUCCESS',
                                                        'label-test-failed' : test.currentStatus === 'FAILED',
                                                        'label-test-error' : test.currentStatus === 'ERROR',
                                                        'label-test-skipped' : test.currentStatus === 'SKIPPED'}">
                                    {{test.currentStatus}}
                                </span></td>
                                <td>   <span ng-if="test.previousStatus !== 'UNKNOWN'" class="label label-block"
                                             ng-class="{'label-test-success' : test.previousStatus === 'SUCCESS',
                                                        'label-test-failed' : test.previousStatus === 'FAILED',
                                                        'label-test-error' : test.previousStatus === 'ERROR',
                                                        'label-test-skipped' : test.previousStatus === 'SKIPPED'}">
                                    {{test.previousStatus}}
                                </span>
                                    <span ng-if="test.previousStatus === 'UNKNOWN'"
                                          class="label label-block label-default">Didn't exist</span>
                                </td>
                                <td><b><span style="float: right;" ng-class="{'green-font' : (test.currentDuration - test.previousDuration < 0), 'red-font' : (test.currentDuration - test.previousDuration > 0)}">{{formatResult(test.currentDuration - test.previousDuration)}} ms</span></b></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </section>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading accordion-toggle" data-toggle="collapse"
                    data-target="#testsPerformanceChartDiv" style="cursor: pointer;">
                <strong>Test performance - chart</strong>

                <div class="pull-right" title="Minimalize"><i class="fa container-collapse"></i></div>
            </header>
            <div class="panel-body in" id="testsPerformanceChartDiv">
                <div class="col-md-12">
                    <div style="border: 1px solid #eee;">
                        <flot id="testsPerformanceChart" dataset="testsPerformanceChartData"
                              options="testsPerformanceChartOptions" height="300px">
                        </flot>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>